<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web       
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.6" debug="true">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <sessionState  regenerateExpiredSessionId="true"/>
  </system.web>
  <connectionStrings>
	  <!--PRD
	<add name="myConnectionString" connectionString="data source=179.61.12.164;Integrated Security=False;database=corpora7_GAUCHODB_PRD;uid=corpora7_usergaucho;password=Peru123#$" providerName="System.Data.SqlClient"/>-->
	  <!--QAS-->
    <add name="myConnectionString" connectionString="data source=179.61.12.164;Integrated Security=False;database=corpora7_DBGARATE_PRD;uid=corpora7_usergarate;password=Peru123#$" providerName="System.Data.SqlClient"/>
    <!--<add name="myConnectionString" connectionString="data source=localhost;Integrated Security=False;database=PVGPDB;uid=dell;password=123" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  
  <appSettings>
    <!-- ______URL SERVICE SUNAT______ -->
    <!--PRD-->
    <!-- <add key="URL_SNT_FE" value="https://e-factura.sunat.gob.pe/ol-ti-itcpfegem/billService"/> -->
    <add key="URL_SNT_CO" value="https://e-factura.sunat.gob.pe/ol-it-wsconscpegem/billConsultService"/>
	<!--DEV-->
	<add key="URL_SNT_FE" value="https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService"/>
	  
    <!--______URL SERVICE OSE NUBEFACT______ -->
    <!--PRD
    <add key="URL_SNT_OSE" value="https://ose.nubefact.com/ol-ti-itcpe/billService"/> -->
	 <!--DEV-->
	<add key="URL_SNT_OSE" value="https://demo-ose.nubefact.com/ol-ti-itcpe/billService"/>

    <!--______URL SERVICE SUNAT (GUIA DE REMISION)______ -->
    <!--PRD 
    <add key="URL_SNT_GR" value="https://e-guiaremision.sunat.gob.pe/ol-ti-itemision-guia-gem/billService"/> -->
	<!--DEV-->
	<add key="URL_SNT_GR" value="https://e-beta.sunat.gob.pe/ol-ti-itemision-guia-gem-beta/billService"/>
	  
	<!--API CONSULTA DATOS RENIEC/SUNAT-->
	<add key="urlbusquedaDNI" value="https://dniruc.apisperu.com/api/v1/dni"/>
	<add key="keyurlbusquedaDNI" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6ImFjdWFyaW8xOTJfYWxAaG90bWFpbC5jb20ifQ.a-Dwj-CpZ1D2SQtp9OQevXJYlhA-kquPqoiWXn7KFHU"/>
	<add key="urlbusquedaRUC" value="https://dniruc.apisperu.com/api/v1/ruc"/>
	<add key="keyurlbusquedaRUC" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6ImFjdWFyaW8xOTJfYWxAaG90bWFpbC5jb20ifQ.a-Dwj-CpZ1D2SQtp9OQevXJYlhA-kquPqoiWXn7KFHU"/>
	  
    <!-- CARPETA PRINCIPAL DE DOCUMENTOS -->
    <add key="CAR-DOCUMENTOS" value="D:\sfe\documentos\"/>
    <!-- CARPETA PRINCIPAL DE CERTIFICADOS -->
    <add key="CAR-CERTIFICADOS" value="D:\sfe\certificados\"/>
    <!-- CARPETA PRINCIPAL DE LOGO PDF -->
    <add key="LOGO_EMPRESA" value="D:\sfe\logo\logo.png"/>
	  
    <!-- DATOS RESOLUCIÓN Y LINK DE WEB DE CONSULTAS -->
    <add key="NRO_RESOLUCION" value="123456789"/>
    <add key="LINK_DESCARGA_ARCHIVOS" value="http://www.sfe.html"/>
    <add key="IGV" value="10"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
	  
    <!-- ENVIO CORREO INI -->
    <add key="correoUsuario" value="gvasquezoblitas@gmail.com"/>
    <add key="passwordUsuario" value="Grimaldina123."/>
    <add key="mensajeCorreo" value="Estimados sus comprobantes de consumo"/>
    <add key="asuntoCorreo" value="comprobantes Electronicos"/>
    <!-- ENVIO CORREO FIN -->
    <!-- LOGS-->
    <add key="rutalog" value="C:\sfe\log"/>
    <add key="flaglog" value="1"/>
  </appSettings>
</configuration>